# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Virtual environments
.venv/
venv/
env/

# OS
.DS_Store
Thumbs.db

# Local browser drivers / binaries
chromedriver-win64/
*.exe

# Local data exports
*.tmp
